@import url('./fonts.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

span,
label,
li {
    font-family: "inter", sans-serif;
    color: #353535;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), lightgray 50% / cover no-repeat;
}

.modal-content {
    width: 1160px;
    height: 685px;
    padding: 100px 160px;
    background: white;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.10);
    border-radius: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    width: 272px;
    height: 70px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    cursor: pointer;
    padding: 20px 18px;
}

.close {
    margin-bottom: 100px;
}

.next {
    border: none;
    background: linear-gradient(90deg, #4333FF 0%, #07FFD2 100%);
    color: #FFF;
}

.custom {
    width: 299px;
    border: none;
    background: linear-gradient(90deg, #4333FF 0%, #07FFD2 100%);
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom:disabled {
    cursor: default;
    background: linear-gradient(90deg, #B2ABFF 0%, #51FFE0 92.98%);
}

.submit .next:hover {
    background: linear-gradient(90deg, #7E73FF 0%, #07FFD2 92.98%);
}

.prev {
    border: 2px solid #07FFD2;
    background: #FFF;
    color: #353535;
}


.form-part {
    display: none;
}


.form-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.form-header {
    margin-bottom: 32px;
}

.form-header span:first-child {
    font-size: 32px;
    font-weight: 500;
}

.form-header span:nth-child(2) {
    font-size: 24px;
    font-weight: 500;
}

.form-page span:nth-child(2)::first-letter {
    color: #3D46FA;
    font-size: 24px;
}

.form-main {
    margin: 30px 0 40px 0;
}

.range-slider {
    margin-bottom: 50px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 7px;
    flex-shrink: 0;
    border-radius: 3px;
    background: linear-gradient(90deg, #4333FF 0%, #07FFD2 92.98%);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='45' height='45' viewBox='0 0 45 45' fill='none'><circle cx='22.5' cy='22.5' r='20.5' fill='white' stroke='url(%23paint0_linear_5_343)' stroke-width='4'/><defs><linearGradient id='paint0_linear_5_343' x1='22.5' y1='0' x2='22.5' y2='45' gradientUnits='userSpaceOnUse'><stop stop-color='%234333FE'/><stop offset='1' stop-color='%2307FFD2'/></linearGradient></defs></svg>");
    background-size: 100% 100%;
    border: none;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    appearance: none;
    width: 30px;
    height: 30px;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='45' height='45' viewBox='0 0 45 45' fill='none'><circle cx='22.5' cy='22.5' r='20.5' fill='white' stroke='url(%23paint0_linear_5_343)' stroke-width='4'/><defs><linearGradient id='paint0_linear_5_343' x1='22.5' y1='0' x2='22.5' y2='45' gradientUnits='userSpaceOnUse'><stop stop-color='%234333FE'/><stop offset='1' stop-color='%2307FFD2'/></linearGradient></defs></svg>");
    background-size: 100% 100%;
    border: none;
    cursor: pointer;
}

.range-value {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.range-value span {
    color: #353535;
    font-size: 24px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.output {
    display: block;
    text-align: center;
    color: #353535;
    font-family: "inter";
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.gender-options {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.gender-options div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gender-options label {
    margin-right: 95px;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
}

.gender-radio {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    position: relative;
    cursor: pointer;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none"><path d="M12.5 0.416626C11.8958 0.416626 11.2917 0.646209 10.7962 1.12954L1.12957 10.7962C0.174989 11.7387 0.174989 13.2612 1.12957 14.2037L10.7962 23.8704C11.7387 24.825 13.2612 24.825 14.2037 23.8704L23.8704 14.2037C24.825 13.2612 24.825 11.7387 23.8704 10.7962L14.2037 1.12954C13.7083 0.646209 13.1042 0.416626 12.5 0.416626Z" fill="url(%23paint0_linear_7_1158)" /><defs><linearGradient id="paint0_linear_7_1158" x1="12.5" y1="0.416626" x2="12.5" y2="24.5863" gradientUnits="userSpaceOnUse"><stop stop-color="%23403DFC" /><stop offset="1" stop-color="%2307FED2" /></linearGradient></defs><svg x="6" y="6" xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none"><path d="M6.49998 1.12964C6.23146 1.12964 5.96294 1.23168 5.74276 1.44649L1.44646 5.74279C1.0222 6.16168 1.0222 6.83834 1.44646 7.25723L5.74276 11.5535C6.16164 11.9778 6.83831 11.9778 7.2572 11.5535L11.5535 7.25723C11.9778 6.83834 11.9778 6.16168 11.5535 5.74279L7.2572 1.44649C7.03701 1.23168 6.7685 1.12964 6.49998 1.12964Z" fill="white" /></svg></svg>');
}

.gender-radio::before {
    content: '';
    position: absolute;
    opacity: 0;
}

.gender-radio:checked::before {
    opacity: 1;
    width: 25px;
    height: 25px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none"><path d="M12.5 0.416626C11.8958 0.416626 11.2917 0.646209 10.7962 1.12954L1.12957 10.7962C0.174989 11.7387 0.174989 13.2612 1.12957 14.2037L10.7962 23.8704C11.7387 24.825 13.2612 24.825 14.2037 23.8704L23.8704 14.2037C24.825 13.2612 24.825 11.7387 23.8704 10.7962L14.2037 1.12954C13.7083 0.646209 13.1042 0.416626 12.5 0.416626Z" fill="url(%23paint0_linear_7_1158)" /><defs><linearGradient id="paint0_linear_7_1158" x1="12.5" y1="0.416626" x2="12.5" y2="24.5863" gradientUnits="userSpaceOnUse"><stop stop-color="%23403DFC" /><stop offset="1" stop-color="%2307FED2" /></linearGradient></defs></svg>');
}


.form-part.active {
    display: block;
}

button {
    margin-top: 10px;
}

.form-footer {
    display: flex;
    padding: 0 45px;
    justify-content: space-around;
    align-items: center;

}


/* Кастомный выпадающий список */
.custom-dropdown {
    position: relative;
    width: 100%;
}

.dropdown-header {
    cursor: pointer;
    padding: 19px 25px;
    border-radius: 10px;
    border: 1px solid #E3E3E3;
    background: #FFF;
    box-shadow: 0px 4px 6px 0px rgba(132, 132, 132, 0.10);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-header span {
    font-size: 24px;
    font-weight: 400;
}

.arrow {
    width: 40px;
    height: 40px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none"><path d="M28.3333 16.6667L20 25L11.6666 16.6667" stroke="%233D46FA" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" /></svg>');
}

.arrow.up {
    transform: rotate(180deg);
}

.dropdown-list {
    list-style: none;
    padding: 19px 25px;
    margin: 0;
    border-radius: 10px;
    border: 1px solid #E3E3E3;
    background: #FFF;
    box-shadow: 0px 4px 6px 0px rgba(132, 132, 132, 0.10);
    display: none;
    position: absolute;
    width: 100%;
    z-index: 9999;
}

.dropdown-list.active {
    display: block;
}

.dropdown-list li {
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
}


.dropdown-list li:not(:last-child) {
    margin-bottom: 19px;
}


.dropdown-list li.active {
    background-color: #f0f0f0;
}

/* Кастомное поле текста */
.form-message {
    margin-top: 50px;
}

.custom-text {
    width: 100%;
    height: 140px;
    border-radius: 10px;
    border: 1px solid #E3E3E3;
    background: #FFF;
    box-shadow: 0px 4px 6px 0px rgba(132, 132, 132, 0.10);
    padding: 15px 25px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    position: relative;
    overflow: hidden;
    resize: none;
}


.custom-text::placeholder {
    position: absolute;
    width: 100%;
    top: 15px;
    left: 25px;
    color: #ADADAD;
    font-family: Inter;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.custom-text:focus {
    outline: none;
}

.name-input {
    cursor: pointer;
    padding: 19px 25px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #E3E3E3;
    background: #FFF;
    box-shadow: 0px 4px 6px 0px rgba(132, 132, 132, 0.10);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.name-input:focus {
    outline: none;
}

#phone-input {
    margin: 0 0 40px 0;
}

.checkbox-container {
    display: block;
    margin-bottom: 10px;
}

.checkbox-label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.custom-checkbox {
    display: none;
    margin-bottom: 40px;
}

.checkmark {
    position: relative;
    width: 16px;
    height: 16px;
    border: 2px solid #07FFD2;
    background: #FFF;
    border-radius: 4px;
    margin-right: 6px;
    font-size: 16px;
    font-weight: 400;
}

.checkmark::before {
    content: "";
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%) rotate(45deg);
    width: 7px;
    height: 7px;
    border: 2px solid #07FFD2;
    border-width: 0 3px 3px 0;
}

.custom-checkbox:checked+.checkmark::before {
    display: block;
}

.success-icon {
    width: 96px;
    height: 96px;
    margin: 100px auto 10px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 96 96" fill="none"><mask id="mask0_5_395" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="6" y="6" width="84" height="84"><path d="M48 88C53.2538 88.0068 58.4573 86.9753 63.3112 84.9647C68.1651 82.954 72.5738 80.004 76.284 76.284C80.0039 72.5739 82.954 68.1652 84.9646 63.3112C86.9752 58.4573 88.0068 53.2539 88 48C88.0067 42.7462 86.9751 37.5428 84.9644 32.6889C82.9538 27.835 80.0038 23.4262 76.284 19.716C72.5738 15.9961 68.1651 13.046 63.3112 11.0354C58.4573 9.02478 53.2538 7.99323 48 8.00003C42.7461 7.99334 37.5427 9.02494 32.6888 11.0356C27.8349 13.0462 23.4262 15.9962 19.716 19.716C15.9961 23.4262 13.0461 27.835 11.0355 32.6889C9.02488 37.5428 7.99327 42.7462 7.99997 48C7.99317 53.2539 9.02472 58.4573 11.0353 63.3112C13.046 68.1652 15.996 72.5739 19.716 76.284C23.4262 80.0039 27.8349 82.9539 32.6888 84.9645C37.5427 86.9751 42.7461 88.0067 48 88Z" fill="white" stroke="white" stroke-width="4" stroke-linejoin="round" /><path d="M32 48L44 60L68 36" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" /></mask><g mask="url(%23mask0_5_395)"><path d="M0 0H96V96H0V0Z" fill="url(%23paint0_linear_5_395)" /></g><defs><linearGradient id="paint0_linear_5_395" x1="48" y1="0" x2="48" y2="96" gradientUnits="userSpaceOnUse"><stop stop-color="%233E42FB" /><stop offset="1" stop-color="%2307FFD2" /></linearGradient></defs></svg>');
}

.success-text {
    color: #353535;
    font-family: Inter;
    font-size: 32px;
    font-weight: 500;
    width: 100%;
    text-align: center;
}

.warning-message1,
.warning-message2 {
    display: block;
    color: #FF6565;
    font-family: Inter;
    font-size: 18px !important;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 6px;
}

.warning-message2 {
    margin-top: 25px;
}

.loader {
    display: none;
    width: 41px;
    height: 41px;
    animation: rotate 3s linear infinite;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" viewBox="0 0 41 41" fill="none"><path d="M20.5 2.5625C20.8398 2.5625 21.1657 2.69749 21.406 2.93777C21.6463 3.17805 21.7812 3.50394 21.7812 3.84375V11.5312C21.7812 11.8711 21.6463 12.1969 21.406 12.4372C21.1657 12.6775 20.8398 12.8125 20.5 12.8125C20.1602 12.8125 19.8343 12.6775 19.594 12.4372C19.3537 12.1969 19.2188 11.8711 19.2188 11.5312V3.84375C19.2188 3.50394 19.3537 3.17805 19.594 2.93777C19.8343 2.69749 20.1602 2.5625 20.5 2.5625ZM20.5 28.1875C20.8398 28.1875 21.1657 28.3225 21.406 28.5628C21.6463 28.803 21.7812 29.1289 21.7812 29.4688V37.1562C21.7812 37.4961 21.6463 37.8219 21.406 38.0622C21.1657 38.3025 20.8398 38.4375 20.5 38.4375C20.1602 38.4375 19.8343 38.3025 19.594 38.0622C19.3537 37.8219 19.2188 37.4961 19.2188 37.1562V29.4688C19.2188 29.1289 19.3537 28.803 19.594 28.5628C19.8343 28.3225 20.1602 28.1875 20.5 28.1875ZM38.4375 20.5C38.4375 20.8398 38.3025 21.1657 38.0622 21.406C37.8219 21.6463 37.4961 21.7812 37.1562 21.7812H29.4688C29.1289 21.7812 28.803 21.6463 28.5628 21.406C28.3225 21.1657 28.1875 20.8398 28.1875 20.5C28.1875 20.1602 28.3225 19.8343 28.5628 19.594C28.803 19.3537 29.1289 19.2188 29.4688 19.2188H37.1562C37.4961 19.2188 37.8219 19.3537 38.0622 19.594C38.3025 19.8343 38.4375 20.1602 38.4375 20.5ZM12.8125 20.5C12.8125 20.8398 12.6775 21.1657 12.4372 21.406C12.1969 21.6463 11.8711 21.7812 11.5312 21.7812H3.84375C3.50394 21.7812 3.17805 21.6463 2.93777 21.406C2.69749 21.1657 2.5625 20.8398 2.5625 20.5C2.5625 20.1602 2.69749 19.8343 2.93777 19.594C3.17805 19.3537 3.50394 19.2188 3.84375 19.2188H11.5312C11.8711 19.2188 12.1969 19.3537 12.4372 19.594C12.6775 19.8343 12.8125 20.1602 12.8125 20.5ZM7.81562 7.81562C8.05589 7.57543 8.38173 7.44049 8.72147 7.44049C9.06121 7.44049 9.38704 7.57543 9.62731 7.81562L15.0675 13.2533C15.3009 13.4949 15.43 13.8185 15.4271 14.1545C15.4242 14.4904 15.2894 14.8118 15.0519 15.0493C14.8143 15.2869 14.493 15.4216 14.157 15.4246C13.8211 15.4275 13.4975 15.2983 13.2558 15.0649L7.81562 9.62731C7.57543 9.38704 7.44049 9.06121 7.44049 8.72147C7.44049 8.38173 7.57543 8.05589 7.81562 7.81562ZM25.9351 25.9351C26.1753 25.6949 26.5012 25.5599 26.8409 25.5599C27.1806 25.5599 27.5065 25.6949 27.7467 25.9351L33.1844 31.3727C33.4178 31.6143 33.5469 31.938 33.544 32.2739C33.5411 32.6099 33.4063 32.9312 33.1688 33.1688C32.9312 33.4063 32.6099 33.5411 32.2739 33.544C31.938 33.5469 31.6143 33.4178 31.3727 33.1844L25.9351 27.7467C25.6949 27.5065 25.5599 27.1806 25.5599 26.8409C25.5599 26.5012 25.6949 26.1753 25.9351 25.9351ZM33.1844 7.81819C33.4238 8.05835 33.5582 8.38364 33.5582 8.72275C33.5582 9.06186 33.4238 9.38715 33.1844 9.62731L27.7467 15.0675C27.5051 15.3009 27.1815 15.43 26.8455 15.4271C26.5096 15.4242 26.1882 15.2894 25.9507 15.0519C25.7131 14.8143 25.5784 14.493 25.5754 14.157C25.5725 13.8211 25.7017 13.4975 25.9351 13.2558L31.3727 7.81819C31.613 7.57799 31.9388 7.44306 32.2785 7.44306C32.6183 7.44306 32.9441 7.57799 33.1844 7.81819ZM15.0649 25.9351C15.3051 26.1753 15.4401 26.5012 15.4401 26.8409C15.4401 27.1806 15.3051 27.5065 15.0649 27.7467L9.62731 33.1844C9.38567 33.4178 9.06202 33.5469 8.72608 33.544C8.39014 33.5411 8.06879 33.4063 7.83123 33.1688C7.59368 32.9312 7.45893 32.6099 7.45601 32.2739C7.45309 31.938 7.58223 31.6143 7.81562 31.3727L13.2533 25.9351C13.4935 25.6949 13.8194 25.5599 14.1591 25.5599C14.4988 25.5599 14.8247 25.6949 15.0649 25.9351Z" fill="white" /></svg>');
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1200px) {
    .modal-content {
        width: 678px;
        height: 625px;
        padding: 123px 30px;
    }

    .btn {
        width: 219px;
        height: 56px;
        padding: 16px 18px;
    }

    .custom {
        width: 273px;
    }

    .form-header span:first-child,
    .success-text {
        font-size: 24px;
        font-weight: 500;
    }


    .form-header span:nth-child(2),
    .output,
    .range-value span,
    .gender-options label,
    .btn,
    .form-page span:nth-child(2)::first-letter,
    .dropdown-list li,
    .dropdown-header span {
        font-size: 20px !important;
    }

    .form-page {
        margin-bottom: 20px;
    }

    .form-main {
        margin: 0 0 30px 0;
    }

    .form-header {
        margin-bottom: 20px;
    }

    .form-message {
        margin-top: 30px;
    }

    @media (max-width: 768px) {
        .modal-content {
            width: 320px;
            height: 640px;
            padding: 40px 16px 50px 16px;
        }

        .btn {
            width: 229px;
            height: 44px;
            padding: 13px 18px;
        }

        .custom {
            width: 229px;
        }

        .form-footer button {
            margin-right: 0;
        }

        .form-footer button:first-child {
            order: 1;
        }

        .form-part {
            position: relative;
            height: 100%;
        }

        .form-footer {
            flex-direction: column;
            width: 100%;
            position: absolute;
            bottom: 10px;
        }

        .form-header span:first-child {
            font-size: 18px;
            font-weight: 500;
        }

        .form-header span:nth-child(2),
        .output,
        .range-value span,
        .gender-options label,
        .btn,
        .form-page span:nth-child(2)::first-letter,
        .dropdown-list li,
        .dropdown-header span,
        .name-input {
            font-size: 16px !important;
        }

        .gender-options label {
            margin-right: 20px;
        }

        .gender-radio {
            margin-right: 5px;
        }

        .checkmark {
            width: 24px;
            height: 18px;
        }

        .dropdown-header {
            padding: 10px 17px;
        }

        .name-input {
            padding: 10px 17px;
        }

        .custom-text::placeholder {
            top: 15px;
            left: 25px;
            font-size: 13px;
        }

        #phone-input {
            margin: 0 0 20px 0;
        }

        .success-icon {
            margin-top: 30px;
        }

        .close {
            margin-bottom: 30px;
        }

    }
}